*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 20vw;
  width: 100%;
  margin: 90px 45%;
}

.container form{
  margin-top: 30px;
}

.container input,button{
  display: block;
  margin-bottom: 10px;
  padding: 8px;
}

.container button{
  margin-left: 2.2vw;
  background-color: #2121c7;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
}

.container button:hover{
  background-color: #4646f7;
}

#message{
  width: 7.5vw;
  display: none;
  padding: 12px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}